<p id="notice"><%= notice %></p>

<p>
  <b>Captain:</b>
  <%= @team.captain.full_name %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Location:</b>
  <%= @team.location %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
