<% if @user.summoner_name %>
  <h2><%= @user.summoner_name %></h2>
<% else %>
  <h3>No Summoner Name</h3>
<% end %>

<% if @user.first_name && @user.last_name %>
  <p><%= @user.full_name %></p>
<% else %>
  <p>Mothafucka ain't got no real name!</p>
<% end %>

<p>Age: <%= @user.age %></p>

<p>Location: <%= @user.location %></p>

<%= @user.email %>